button {
    background-color: red ;
    border: 2px black solid;
    color: greenyellow;
    text-align: center;    
    font-size: 16px;
    padding: 12px;
    margin: 12px;
}

h1 {
    text-align: center;
}
h1.center {
    text-align: center;
}
h1.foo {
    text-align: center;
}
/* h1#new-point
{} */

header
{background: blue}

header p
{text-align: center
}

.byline{
    font-style: italic;
    font-size: 80%;
}

